/.gradle/
/build/
/classes/
/*.iml
/*.iws
/*.ipr
/.idea/
/.nb-gradle-properties
/.nb-gradle/
/src/main/resources/app.gwt.xml
/src/main/webapp/VAADIN/themes/app/addons.scss
/src/main/webapp/VAADIN/themes/app/styles.css
/src/main/webapp/VAADIN/themes/app/styles.css.gz
/src/main/webapp/VAADIN/widgetsets/
